// from hack.css
@font-normal: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
@font-code: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
@font-header: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;

@font-publishing-date: @font-code;

@font-size: 1rem;
@font-size-mobile: 2rem;

@font-sidebar: sans-serif;
@font-nav: sans-serif;
