@import "color.less";
@import "media-types.less";
@import "font.less";

@import "main-navigation.less";
@import "main-sidenav.less";
@import "main-hack.less";
@import "main-toc.less";
@import "main-hack-flex-listing.less";
@import "chroma-highlighting-syntax.less";

@import "github-octo.less";

html {
  -webkit-text-size-adjust: 100%;
  font-family: @font-normal;
  font-style: normal;

  line-height: 1.5em;
  @media @desktop{
    font-size: 16px;
  }
  font-size: 14px;
  background-color: @color-body-background;
  color: @color-body-font;

  overflow-y: scroll;
}


body {
  padding-bottom: 3em;

  .main {
    display: grid;
    grid-template-rows: auto;

    @media @desktop{
      grid-template-columns: 1fr 800px 1fr;
      grid-template-areas:
            ". header . "
            "sidenav content toc";
    }
    grid-template-columns: auto;
    grid-template-areas:
            "header"
            "content";

    .main-navigation {
      grid-area: header;
    }

    .content {
      grid-area: content;
    }

    #TableOfContents{
      display: none;
      @media @desktop{
        display: initial;
        grid-area: toc;
        margin-top: 2em;
      }
      ul {
        margin-top: .2em;
        margin-bottom: .4em;
        li {
          margin-top: .2em;
        }
      }
    }
    #sidenav {
      display: none;
      @media @desktop{
        display: initial;
        grid-area: sidenav;
      }
    }

  }

  .content-big {
    @media @desktop {
      width: 1000px;
    };
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2, h3, h4 {
  font-family: @font-header;
}

.publishing_date {
  font-family: @font-publishing-date;
  font-size: 0.8rem;
  color: @color-publishing-date;
}


table.comparison {
  width: 100%;

  margin-left: 0;
  margin-right: 0;

  .good {
    background: @color-comparison-good;
    text-align: center;
  }

  .bad {
    background: @color-comparison-bad;
    text-align: center;
  }

  .ok {
    background: @color-comparison-ok;
    text-align: center;
  }
}

figure {
  widows: 98%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}